# Hello World and Import

In [2]:
import math
print("hello world\n")
print(5+8)

print(math.gcd(3,6))

hello world

13
3

# Basic Arithmatic

In [58]:
a = 34
b = "harry"
c = 34.32
d = 3

print(a+d)
print(a-d)
print(a*d)
print(a/d)

# ** Exponention operator
print(a ** d)

# // Floor division opertor
print(a // d)

# % Modulo operator
print(a % d)

37
31
102
11.333333333333334
39304
11
1

# Wrong Syntax

harry project = 45

**Rules for creating variables**

1. variables should start with a letter or an underscore
2. variable cannot start with a number
3. It can only contain alpha numeric characters
4. variable names are case sensitive.

# Type Function

In [6]:
typea = type(a)
typeb = type(b)
print(typeb)


e = 31
e = 3.14
print(type(e))
print(e+2)

<class 'str'>
<class 'float'>
5.140000000000001

# Typecasting

In [9]:
e = "31"
e = int(e)
print(type(e))
print(e+4)

# Error will occur in the following
# e = "31u"
# e = int(e)
# print(type(e))
# print(e+4)

<class 'int'>
35

In [13]:
e = str(455)

print(e)
print(type(e))

45
<class 'int'>

# Practice

In [14]:
string = "23"
string = int(string)
print(type(string))
print(string)

string = float(string)
print(type(string))
print(string)

<class 'int'>
23
<class 'float'>
23.0

# Strings

In [17]:
name = "Sarvesh
is a learning python"
print(name)

SyntaxError: EOL while scanning string literal (<ipython-input-17-36ead13e1c23>, line 1)

In [18]:
name = '''Sarvesh
is learning python'''
print(name)

Sarvesh
is learning python

In [25]:
name = "Sarvesh"
print(name[0])
print(name[1])

# print(name[10]) Error : index out of range

print(name[2:5])
print(name[2:])
print(name[:4])

S
a
rve
rvesh
Sarv

# Stripping

In [27]:
name1 = "   Sarvesh   "
print(name1)
print(name1.strip())

   Sarvesh
Sarvesh

# Length of String

In [29]:
print(len(name))
print(len(name1))

7
13

# Uppercase, Lowercase, Replace

In [30]:
var = name.lower()
print(var)

sarvesh

In [31]:
var = name.upper()
print(var)

SARVESH

In [36]:
var = name.replace('ve','sss')
print(var,"\n")

var1 = "Sarvesh, Gaurav, Naresh"
var = var1.replace(", ","\n")
print(var)

Sarssssh

Sarvesh
Gaurav
Naresh

# Joining two strings

In [38]:
stri = "This is a "
stri2 = "Pyhton Tutorial"

print(stri + stri2)

This is a Pyhton Tutorial

In [41]:
# template creation

name1 = "Sarvesh" 
name2 = "Python"

string = "{} is a B.tech student and he is studying {}.".format(name1,name2)
print(string)

Sarvesh is a B.tech student and he is studying Python.

In [55]:
# template creation 2

s1 = "hello"
s2 = "hallooo"
s3 = "Adios!"

s4 = "{} {} {}".format(s1,s2,s3)
print(s4)

s4 = "{0} {1} {2}".format(s1,s2,s3)
print(s4)

s4 = "{0} {2} {1}".format(s1,s2,s3)
print(s4)

s4 = "{1} {1} {0}".format(s1,s2,s3)
print(s4)

# s4 = "{1} {0} {}".format(s1,s2,s3)  Error: cannot switch from manual field specification to automatic field numbering

hello hallooo Adios!
hello hallooo Adios!
hello Adios! hallooo
hallooo hallooo hello

In [57]:
name1 = "Sarvesh" 
name2 = "Python"

string = f"{name2} is a B.tech student and he is studying {name1}."
print(string)

Python is a B.tech student and he is studying Sarvesh.