# Python Collections

1. List
2. Tuple
3. Set
4. Dictionary

# List

In [20]:
lst = [61,2,3,4,6,41]
print(lst)
var = type(lst)
print(var)

var = lst[0]
print(var)

var = lst[2:5]
print(var)

[61, 2, 3, 4, 6, 41]
<class 'list'>
61
[3, 4, 6]

In [21]:
lst[2] = 32
var = lst[2]
print(var)

var = lst
print(var)

32
[61, 2, 32, 4, 6, 41]

In [22]:
print(len(lst))

6

In [40]:
lst = [61,2,3,4,6,41]

lst.append(200)
var = lst
print(var)

lst.insert(1,100)
var = lst
print(var)

lst.remove(200)
var = lst
print(var)

lst.pop()
var = lst
print(var)

del lst[2]
var = lst
print(var)

# del lst : Will delete the entire list

lst.clear()
var = lst
print(var)

[61, 2, 3, 4, 6, 41, 200]
[61, 100, 2, 3, 4, 6, 41, 200]
[61, 100, 2, 3, 4, 6, 41]
[61, 100, 2, 3, 4, 6]
[61, 100, 3, 4, 6]
[]

# Tuple

In [52]:
a = ("Sarvesh", "Naresh", "Gaurav")
var = a
print(var)

var = type(a)
print(var)

('Sarvesh', 'Naresh', 'Gaurav')
<class 'tuple'>

In [53]:
# tuples are immutable
a[0] = "Parth"

TypeError: 'tuple' object does not support item assignment

In [45]:
# Tuples can be converted into Lists and vice-versa.

a = list(a)
var = type(a)
print(var)

<class 'list'>

In [54]:
# Tuple can contain mutable objects

v = ([1,2,3],[4,5,6])
print(v)

([1, 2, 3], [4, 5, 6])

In [55]:
# Tuples may be nested

t = a,(1,2,3)
print(t)

(('Sarvesh', 'Naresh', 'Gaurav'), (1, 2, 3))

In [65]:
# Tuple packing

z = 1,2,'hello!' 
print(type(z))
print(z)

# Sequence unpacking

n1, n2, n3 = z
print(type(z))
print(z)
print(n3)

<class 'tuple'>
(1, 2, 'hello!')
<class 'tuple'>
(1, 2, 'hello!')
hello!

# Set

In [76]:
s1 = {12,12,11,1,332,2,32,42,221,2,2,222,2,222,22,2}
print(s1)

{32, 1, 2, 42, 11, 12, 332, 22, 221, 222}

In [77]:
# # Adding a single value
# s1.add(4444)
# print(s1)

# # Adding more than one value
# s1.update([1,3,221,21,2,3,32,3,2332,3])
# print(s1)

In [78]:
print(len(s1))

10

In [90]:
s1 = {12,12,11,1,332,2,32,42,221,2,2,222,2,222,22,2}

s1.remove(1)
print(s1)

# s1.remove(1666) # Error : Does not belong to set
# print(s1)

{32, 2, 42, 11, 12, 332, 22, 221, 222}

In [91]:
s1 = {12,12,11,1,332,2,32,42,221,2,2,222,2,222,22,2}

print(s1)
s1.discard(1)
print(s1)

s1.discard(1666) # No error display despite of entering a value not present in set.
print(s1)

{32, 1, 2, 42, 11, 12, 332, 22, 221, 222}
{32, 2, 42, 11, 12, 332, 22, 221, 222}
{32, 2, 42, 11, 12, 332, 22, 221, 222}

In [4]:
s1 = {12,12,11,1,332,2,32,42,221,2,2,222,2,222,22,2}
print(s1)

s1.pop() # Delete values from left hand side
print(s1)

# s1.clear() # Clears the set.
# print(s1)

{32, 1, 2, 42, 11, 12, 332, 22, 221, 222}
{1, 2, 42, 11, 12, 332, 22, 221, 222}
set()

In [3]:
a = set('abracadabra') # creating set using set() function
b = set('alacazam')

print(a)
print(b)
print(a - b) # Letters in a but not in b.
print(a | b) # Letters in a or b or both(union).
print(a & b) # Letters in both a and b(intersection).
print(a ^ b) # Letters in a or b but not both.

{'a', 'c', 'b', 'r', 'd'}
{'l', 'a', 'c', 'm', 'z'}
{'r', 'b', 'd'}
{'l', 'a', 'c', 'b', 'r', 'm', 'd', 'z'}
{'a', 'c'}
{'m', 'l', 'r', 'd', 'z', 'b'}

# Dictionary

In [16]:
sarvoDict = {
    "Name": "Sarvesh",
    "Marks": 32.32,
    "Age": 21
}

print(sarvoDict)

sarvoDict["Marks"] = 36
print(sarvoDict)

sarvoDict["Roll No."] = 19326
print(sarvoDict)

del sarvoDict["Marks"]
print(sarvoDict)

sarvoDict.pop("Age")
print(sarvoDict)

list(sarvoDict)

sorted(sarvoDict)

{'Name': 'Sarvesh', 'Marks': 32.32, 'Age': 21}
{'Name': 'Sarvesh', 'Marks': 36, 'Age': 21}
{'Name': 'Sarvesh', 'Marks': 36, 'Age': 21, 'Roll No.': 19326}
{'Name': 'Sarvesh', 'Age': 21, 'Roll No.': 19326}
{'Name': 'Sarvesh', 'Roll No.': 19326}

['Name', 'Roll No.']

In [20]:
# Dictionary using dict()

print( dict([('a',1),('b',12),('c',123)]) )

# When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments.

print( dict(sape=4139, guido=4127, jack=4098) )

{'a': 1, 'b': 12, 'c': 123}
{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [21]:
# dict comprehensions can be used to create dictionaries from arbitrary key and value expressions.

{x: x**2 for x in (1,2,3)}

{1: 1, 2: 4, 3: 9}