# Functions

In [1]:
def greet():
    print("Good Morning sir.")
    
greet()

Good Morning sir.

In [5]:
def exp(a,b):
    c = a**b
    return c

d = exp(2,-1)
print(d)

0.5

# Classes

In [8]:
class Employee:
    def __init__(self, gname, gsalary):
        self.name = gname
        self.salary = gsalary

Emp1 = Employee("Sarvesh",50000)
Emp2 = Employee("Naresh",60000)
print(Emp1.name,Emp1.salary)
print(Emp2.name,Emp2.salary)

Sarvesh 50000
Naresh 60000